{{#each notes}}
        <div>
            <h4>{{this.title}} <a href="/notes/edit/{{_id}}">EDIT</a></h4>
            <p>{{this.description}}</p>
        </div>
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="DELETE">
        </form>
{{/each}}