<h3>EDIT NOTES</h3>
<form action="notes/edit-notes" method="GET">
    <input type="text" name="title" placeholder="Title..." autofocus>
    <input type="textarea" name="description" placeholder="Description">
</form>