{{#each error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<h3>NEW NOTES</h3>
<form action="/notes/new-notes" method="POST">
    <input type="text" name="title" id="title" placeholder="Title..." autofocus>
    <input type="textarea" name="textarea" id="textarea" placeholder="Notes...">
    <input type="submit" value="Send"> 
</form> 