<form action="../../routes/notes.js" method="POST">
    <input type="text" name="title" id="title" placeholder="Title..." autofocus>
    <input type="textarea" name="textare" id="textarea" placeholder="Notes...">
    <input type="submit" value="Send"> 
</form>